In [3]:
import time as t

In [4]:
a= t.time()

In [10]:
a
#time in seconds .since 1 jan 1970

1698551901.139119

In [89]:
b= t.ctime(a)
#it will take duration from 1 jan 1970 in seconds as input and calculate the date in string format

In [88]:
b
print(b,type(b))

Sun Oct 29 09:28:21 2023 <class 'str'>

In [90]:
c= t.localtime(1900000345)
print(c,type(c))

time.struct_time(tm_year=2030, tm_mon=3, tm_mday=17, tm_hour=23, tm_min=22, tm_sec=25, tm_wday=6, tm_yday=76, tm_isdst=0) <class 'time.struct_time'>

In [15]:
c
#it take input as seconds and returns time in struct_time format

time.struct_time(tm_year=2030, tm_mon=3, tm_mday=17, tm_hour=23, tm_min=22, tm_sec=25, tm_wday=6, tm_yday=76, tm_isdst=0)

In [21]:
d=t.mktime(c)

In [22]:
d

1900000345.0

In [23]:
e=t.sleep(60)
print("hello world")
#it will execute after the seconds that are entered as a parameter

hello world

In [33]:
f=t.asctime(c)
#asctime will return the struct input as local format

In [34]:
f

'Sun Mar 17 23:22:25 2030'

In [35]:
g= t.gmtime(t.time())

In [36]:
g
#gmtime returns greenwitch meredian time by taking seconds as input

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=29, tm_hour=4, tm_min=23, tm_sec=51, tm_wday=6, tm_yday=302, tm_isdst=0)

In [37]:
help(t.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [38]:
h= t.strftime("%d/%m/%Y %H/%M/%S %p %A-%B")

In [41]:
h

'29/10/2023 09/57/40 AM Sunday-October'

In [43]:
i=t.strptime('29/10/2023 09/57/40 AM Sunday-October',"%d/%m/%Y %H/%M/%S %p %A-%B")

In [44]:
i

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=29, tm_hour=9, tm_min=57, tm_sec=40, tm_wday=6, tm_yday=302, tm_isdst=-1)

In [53]:
k=t.struct_time((12,6,2000, 2,30,25,22,32,34))
#takes 9 parameters as a sequence and gives time in struct format

In [54]:
k

time.struct_time(tm_year=12, tm_mon=6, tm_mday=2000, tm_hour=2, tm_min=30, tm_sec=25, tm_wday=22, tm_yday=32, tm_isdst=34)

## Datetime

In [57]:
import datetime as dt

In [58]:
l= dt.datetime.now()

In [59]:
l

datetime.datetime(2023, 10, 29, 10, 12, 46, 168375)

In [60]:
m=dt.datetime.today()

In [61]:
m

datetime.datetime(2023, 10, 29, 10, 13, 7, 617363)

In [67]:
n=dt.datetime(2000,6,12,15,0,30,12)

In [68]:
print(n)

2000-06-12 15:00:30.000012

In [70]:
m.year

2023

In [71]:
m.month

10

In [72]:
o=dt.date(2000,6,12)

In [73]:
o

datetime.date(2000, 6, 12)

In [74]:
p=dt.time(18,0,30)

In [75]:
p

datetime.time(18, 0, 30)

In [78]:
#with timedelta method we can find differce between two times
q1=dt.timedelta(days=30,seconds=1986)
q2=dt.timedelta(days=23,seconds=765)
q3=q1-q2
print(q3)
print(type(q3))

7 days, 0:20:21
<class 'datetime.timedelta'>

In [86]:
r=dt.datetime.fromtimestamp(t.time())
#timestamp takes seconds as input and gives date and tiome output

In [87]:
print(r)
print(type(r))

2023-10-29 10:32:01.397187
<class 'datetime.datetime'>