In [27]:
l=[1,2,3,4,'sudh','kumar',45.56]

In [28]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [29]:
for i in l:

SyntaxError: incomplete input (239044884.py, line 1)

In [30]:
#to escape from the error we need to use pass
for i in l:
    pass

In [31]:
s='sudh'
for i in s:
    print(i)

s
u
d
h

In [32]:
for i in l:
    print(i)
else:
    print('uf for loop is completed else will be executed')

1
2
3
4
sudh
kumar
45.56
uf for loop is completed else will be executed

In [33]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('this will execute only if..for loop is going to complete by itself')

1
2
3

In [34]:
#else will only execute if for loop is exhausted but not if broke

In [35]:
t=(4,5,6,7,8,6,'sudh')
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [36]:
b ={5,6,7,7,7,5,5,5,6,6,6,34,34,34,8,'sudh'}

In [37]:
b

{34, 5, 6, 7, 8, 'sudh'}

In [38]:
for i in b:
    print(i)

sudh
34
5
6
7
8

In [39]:
d={'key':'sudh','contact':'sudh@ineuron.ai','position':'ceo'}

In [40]:
for i in d:
    print(d[i])

sudh
sudh@ineuron.ai
ceo

In [41]:
n=int(input("number of rows:"))
for i in range(n):
    for j in range(i+1):
        print('rakesh',end="\t")
    print("\n")

number of rows:4
rakesh

rakesh	rakesh

rakesh	rakesh	rakesh

rakesh	rakesh	rakesh	rakesh

In [61]:
n=int(input("number of rows:"))
for i in range(n):
    for j in range(0,n-i-1):
        print(' '*len('rakesh'),end='\t')
    for j in range(i+1):
        print('rakesh',end='\t')
    for j in range(i):
        print('rakesh',end='\t') 
    print()

number of rows:4
      	      	      	rakesh
      	      	rakesh	rakesh	rakesh
      	rakesh	rakesh	rakesh	rakesh	rakesh
rakesh	rakesh	rakesh	rakesh	rakesh	rakesh	rakesh

In [65]:
s='rakesh'
for i in range(len(s)):
    print(i, s[i])

0 r
1 a
2 k
3 e
4 s
5 h

In [67]:
s='rakesh'
for i in range(len(s)):
    print(len(s)-1-i, s[i])

5 r
4 a
3 k
2 e
1 s
0 h

In [69]:
d={'key1':'rakesh','con':'sirigineedirakesh@gmail.com','position':'ceo'}

In [73]:
for i in d.items():
    print(i,type(i),type(i[0]),type(i[1]))

('key1', 'rakesh') <class 'tuple'> <class 'str'> <class 'str'>
('con', 'sirigineedirakesh@gmail.com') <class 'tuple'> <class 'str'> <class 'str'>
('position', 'ceo') <class 'tuple'> <class 'str'> <class 'str'>

In [74]:
d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [77]:
for i in d.items():
    if type(i[0])==int:
        print(i)

(1, 3345345)
(234, '3454')

In [78]:
for i in d:
    if type(i)==int:
        print(i ,d[i])

1 3345345
234 3454

In [94]:
s = "aaaabbccd"
l1=[]
for i in s:
    if i not in l1:
        l1.append(i)
for i in l1:
    print(i , s.count(i))

a 4
b 2
c 2
d 1

In [95]:
for i in set(s):
    print(i , s.count(i))

a 4
b 2
c 2
d 1

In [117]:
t = (3,"su3dh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})
#extract whenever there is 3
for i in t:
    if i==3:
        print(i)
    if type(i)== tuple or type(i)== list:
        for j in i:
            if j==3:
                print(j)    
    if type(i)==dict:
        for j in i.keys():
            if j==3:
                print(j)
        for j in i.values():
            if j==3:
                print(j)

3
3
3
3
3